@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

/* General */

.flex_center {
  @apply flex justify-center items-center
}

.button_template {
  @apply border p-2 rounded-lg  w-[200px] h-[60px] mt-4 font-bold text-lg transition-colors duration-500
}

.button {
  @apply button_template bg-[#66fcf1] text-[#1F2833]  hover:bg-[#45A29E] hover:text-[#1F2833]
}

.button_loading {
  @apply button_template flex_center bg-[#45A29E]  text-[#66fcf1] bg-vortex bg-center
}

.heading {
  @apply text-5xl max-sm:text-4xl font-bold text-center tracking-wide leading-snug pr-4 pl-4
}

.paragraph {
  @apply  w-full 2xl:w-2/3   text-2xl max-sm:text-xl
}

.page {
  @apply  bg-ice bg-cover min-h-screen max-w-full  bg-blend-darken bg-black bg-opacity-80 pt-[120px]
}


/* Navigation */

/* Splash Page */

.main_heading {
  @apply text-8xl max-sm:text-7xl  font-bold pb-8 pr-4 pl-4 text-center
}

.splash_grid {
  @apply lg:grid lg:grid-cols-2 lg:gap-20 lg:min-h-full
}



.splash_container {
  @apply splash_grid max-lg:space-y-16 mt-8 p-8
}

.paragraph_container {
  @apply flex justify-end items-start max-lg:h-fit
}

.form_container {
  @apply flex justify-start items-start max-lg:justify-center
}

/* Forms */

.form {
  @apply relative flex_center flex-col max-sm:w-full sm:w-[600px]  border-2 border-[#66fcf1] rounded-lg   text-[#66fcf1] p-8
}

.form_field {
  @apply border p-2 rounded-md w-full text-sm placeholder:text-[#66fcf1] m-2 focus:outline-[#1F2833] bg-[#1F2833] border-[#66fcf1]
}

.input {
  @apply form_field h-12
}

.textarea {
  @apply form_field h-[180px] max-sm:h-[150px] resize-none
}

.form_loading {
  @apply absolute top-0 left-0 h-full w-full bg-vortex bg-cover rounded-lg
}

.success {
  @apply w-[600px] flex_center h-full flex-col text-center space-y-4
}
